@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Josefin+Slab');

@import url('https://fonts.googleapis.com/css?family=Roboto');
@media screen {

* {margin: 0; padding: 0;}
li {
	display: inline-block;
}
ul {
  list-style: none; 
  margin: 0; 
  padding-left: 0; 
}
 
body {
  text-align: center;
  height: 2000px;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Josefin Slab', serif;
  font-family: 'Roboto', sans-serif;
}
#wrapper {
	position: relative;	
	width:50%;
	margin: 0 auto;
	height: 100%;
	background-color: white;
	margin: 0 auto;
}

/*
.button {
  display: inline-block;
  margin: 40px;
  width: 100px;
  height: 100px;
  background: url(img/log.png);
  cursor: pointer;
  border-radius: 50%;
}
*/
.header {
top: 0;
left: 0;
margin: 0 auto;
position: absolute;
 display: block;
 width: 100%;
 height: 180px;
 background-color:white;
 overflow:inherit;
 z-index: 3;
}

.main_name {
	position: relative;
	font-family: 'Josefin Slab' ;
	color:#666666;
	font-size: 3vw;
	top: 45px;		
}

.discription {
	position: relative;
	font-family: 'Cormorant Garamond';
	font-size: 2vw;
	color:#666666;
	margin-top: 50px;
}

.menu {
	position: absolute;
	float:left;
	top: 180px;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-top:1px solid #D3D3D3;
	border-bottom:1px solid #D3D3D3;
	overflow:hidden;
    font-family:'Roboto', sans-serif;
    z-index: 4;
 }
 .menu ul li{
     padding:0 55px; 
 }

.menu > ul > li a {
	color:#666666;
	text-decoration: none;
}
.menu > ul > li a:hover {
	color:#C48B21;
}

#slides {
 position: relative;
 height: 300px;
 padding: 0px;
 margin: 0px;
 list-style-type: none;
}

.slide {
 position: absolute;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 opacity: 0;
 z-index: 1;

 -webkit-transition: opacity 1s;
 -moz-transition: opacity 1s;
 -o-transition: opacity 1s;
 transition: opacity 1s;
}

.showing {
 opacity: 1;
 z-index: 2;
}
.image1 {
	position: absolute;	
    top: 270px;
    left: 0px;
    width: 400px;
    height: 400px;
}
}
